<h1>Topics</h1>
<p>Check out these topics yo, click one the to view bookmarks</p>


  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>


<!-- this shows all the topics which will be clickable links -->
  <% @topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic.id) %></p>
  <% end %>     
