<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>


<!-- this shows all the topics which will be clickable links -->
<% @topics.each do |topic| %>
  <p><%= link_to topic.title, topic_path(topic.id) %></p>
  
<% end %>     
