this is where for every bookmark with the same topic will show up

<p id= "index-title"><%= @topic.title %></p>


<!--   <%= link_to "Delete", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'you sure playa?'} %> I guess I don't need basic users the ability to delete topics--> 
 <p id= "index-notes"><%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-success' %></p>


<% @bookmarks.each do |bookmark| %>
<p id= "index-notes"><%= link_to bookmark.url, [@topic, bookmark] %></p>
 <% end %>
