this is where for every bookmark with the same topic will show up

<h1><%= @topic.title %></h1>
<%= link_to "Delete", @topic, method: :destroy, class: 'btn btn-danger', data: {confirm: 'you sure playa?'} %>
