<p id= "index-title">Blocmarks</p>
<p id= "index-notes"> Social Bookmarking </p>
<p id= "index-notes"> To Utilize the Email Integration:</p>

<p id= "index-notes">
1. Email postmaster@appcf9a5b2d42db40bd865dcc5dbf3331bc.mailgun.org
2. In the subject, put your Topic Name 
3. In the body, put your web address you'd like to bookmark
4. Rejoice!
</p>
