<h1>Blocmarks</h1>
<p> Social Bookmarking </p>
<p> To Utilize the Email Integration:</p>
<h3> 1. Email postmaster@appcf9a5b2d42db40bd865dcc5dbf3331bc.mailgun.org </h3>
<h3> 2. In the subject, put your Topic Name </h3>
<h3> 3. In the body, put your web address you'd like to bookmark </h3>
<h3> 4. Rejoice! </h3>
