@import "bootstrap";

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

 .form-group{
  text-align: center;
  font-size: 30px;
  color: black;
}

p#index-title {
  text-align: center;
  font-size: 50px;
  color: black;
}

p#index-notes {
  text-align: center;
  font-size: 30px;
  color: black;
}